.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--roxo);
    padding: 5em 1em;
    filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.15));
}

.sidebar__logo{
    max-width: 150px;
    width: 100%;
}

.sidebar__avatar {
    max-width: 150px;
    width: 100%;
    border-radius: 100%;
    margin: 2em;
}

.sidebar h2 {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: white;
}

